header {
  display: flex;
  justify-content: space-between;
  background-color: #4c5b84;
  border-bottom: 10px solid #000;
  padding: 10px 20px;

}
nav{
  text-align: right;
}
a{
  display: inline-flex;
  align-items: center;
  color: #FFF;
  font-size: 20px;
  font-family: "Fira Code", sans-serif, Arial;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
  transition: transform 2ms ease-in-out;
  
}
a::before {
  content: "";
  background-color: #62C370;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 3px;
}
a:hover{
  transform: scale(1.03);
}


#button{
  display: inline-block; 
  background-color: #62C370;
  box-shadow: 5px 5px 0px #000;  
  padding: 18px 20px;
  border-radius: 4px;
  margin-right: 0;
  transition: transform 200ms ease-in-out;

}

#button:hover{

  background-color: #5da868e0;
  transform: scale(1.05);
}

